* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Navbar */
.navbar-brand,
.nav_form,
.nav_option {
    width: 33.33333333%;
}

.navbar-brand img {
    cursor: pointer;
}

.nav_form input {
    background-color: #F2F2F2;
}

.search_icon {
    top: 10px;
    left: 10px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(94, 94, 94);
}

/* Banner */
.banner_section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/Rectangle\ 2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 57px);
}

.banner_text {
    bottom: 50px;
    padding: 0 5%;
}

.join_group_section {
    padding: 0 5%;
    width: 100vw;
}

.join_group_button {
    margin-left: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 20px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
}

@media only screen and (min-width: 512px) {
    .banner_text {
        padding: 0 100px;
    }

    .join_group_section {
        padding: 0 100px;
    }
}

/* 
@media only scree and (max-width: 991px) {
    .banner_section {
        height: 60vh;
    }
} */
















@media only screen and (max-width: 991px) {
    .navbar {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .join_group_section {
        display: none;
        visibility: hidden;
    }
}